<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>

  <meta charset="UTF-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
  <style>
    .jumbotron {
      width: 600px;
      text-align: center;
      margin-top: 20px;;
      margin-left: auto;
      margin-right: auto;
    }
    .table {
      margin-top: 20px;
    }
    .form-control {
      margin-bottom: 5px;;
    }
    .selecionado {
      background-color: #ccc;
    }
    .negrito {
      font-weight: bold;
    }
  </style>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>
  <script>
    var app = angular.module('listaTelefonica', ['ngMessages']);
    app.controller('listaTelefonicaCtrl', function($scope){
      $scope.app = "Lista Telefônica";

      $scope.contatos = [
        {
          nome: "Ricardo",
          telefone: "974860728",
          operadora: {
            nome: "Vivo",
            codigo: "15",
            categoria: "Celular",
            cor: "purple"
          }
        },
        {
          nome: "Renato",
          telefone: "999689101",
          operadora: {
            nome: "Tim",
            codigo: "41",
            categoria: "Celular",
            cor: "blue"
          }
        },{
          nome: "Tatiane",
          telefone: "975885620",
          operadora: {
            nome: "GVT",
            codigo: "25",
            categoria: "Fixo",
            cor: "orange"
          }
        }
      ];

      $scope.operadoras = [
        {nome: "Oi", codigo: "14", categoria: "Celular", cor: "yellow"},
        {nome: "Vivo", codigo: "15", categoria: "Celular", cor: "purple"},
        {nome: "Tim", codigo: "41", categoria: "Celular", cor: "blue"},
        {nome: "Claro", codigo: "23", categoria: "Celular", cor: "red"},
        {nome: "GVT", codigo: "25", categoria: "Fixo", cor: "orange"},
        {nome: "Embratel", codigo: "21", categoria: "Fixo", cor: "black"}
      ];

      $scope.adicionarContato = function(contato){
        $scope.contatos.push(contato);
        delete $scope.contato;
        $scope.contatoForm.$setPristine();
      };

      $scope.apagarContatos = function(contatos){
        $scope.contatos = contatos.filter(function(contato){
          if(!contato.selecionado) return contato;
        });
      };

      $scope.isContatoSelecionado = function(contatos){
        return contatos.some(function(contato){
          return contato.selecionado;
        });
      };
    });
  </script>
</head>

<body ng-controller="listaTelefonicaCtrl" class="container">
  <div class="jumbotron">
    <h4>{{app}}</h4>
    <table class="table" ng-show="contatos.length > 0">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Operadora</th>
        <th>Código</th>
        <th>Categoria</th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
        <td><input type="checkbox" ng-model="contato.selecionado"></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td><div ng-style="{'background-color': contato.operadora.cor}">{{contato.operadora.nome}}</div></td>
        <td>{{contato.operadora.codigo}}</td>
        <td>{{contato.operadora.categoria}}</td>
      </tr>
    </table>
    <hr>
    <form name="contatoForm">
      <input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">
      <input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione a operadora</option>
      </select>
    </form>

    <div ng-messages="contatoForm.nome.$error">
      <div class="alert alert-danger" ng-message="required" ng-show="contatoForm.nome.$dirty">
        Preencha o campo nome!
      </div>
      <div class="alert alert-danger" ng-message="minlength">
        O campo nome deve ter no mínimo 10 caracteres!
      </div>
    </div>

    <div ng-messages="contatoForm.telefone.$error">
      <div class="alert alert-danger" ng-message="required" ng-show="contatoForm.telefone.$dirty">
        Preencha o campo telefone!
      </div>
      <div class="alert alert-danger" ng-message="pattern">
        O campo telefone deve ter o formato XXXXX-XXXX!
      </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
  </div>

  <div ng-include="'footer.html'"></div>
</body>

</html>
