<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>

  <meta charset="UTF-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
  <style>
    .jumbotron {
      width: auto;
      text-align: center;
      margin-top: 20px;;
      margin-left: auto;
      margin-right: auto;
    }
    .table {
      margin-top: 20px;
    }
    .table th, .table td {
      text-align: center;
    }
    .form-control {
      margin-bottom: 5px;;
    }
    .selecionado {
      background-color: #ccc;
    }
    .negrito {
      font-weight: bold;
    }
    .operadora {
      color: #454546;
      text-shadow: 0px 0px 5px #fff;
    }
  </style>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-locale_pt-br.js"></script>
  <script src="lib/angular/angular-messages.js"></script>

  <script>
    var app = angular.module('listaTelefonica', ['ngMessages']);
    app.controller('listaTelefonicaCtrl', function($scope){
      $scope.app = "Lista Telefônica";
      $scope.contatos = [
        { nome: "Ricardo", telefone: "97486-0728", data: new Date(), operadora: { nome: "Vivo", codigo: "15", categoria: "Celular", cor: "purple", preco: 2 } },
        { nome: "Renato",  telefone: "99968-9101", data: new Date(), operadora: { nome: "Tim", codigo: "41", categoria: "Celular", cor: "blue", preco: 3 } },
        { nome: "Tatiane", telefone: "97588-5620", data: new Date(), operadora: { nome: "GVT", codigo: "25", categoria: "Fixo", cor: "orange", preco: 1 } },
        { nome: "Margareth", telefone: "9988-6666", data: new Date(), operadora: { nome: "Oi", codigo: "14", categoria: "Celular", cor: "yellow", preco: 1 } },
        { nome: "Roberto",  telefone: "3476-1280", data: new Date(), operadora: { nome: "NET", codigo: "12", categoria: "Fixo", cor: "green", preco: 2 } },
        { nome: "Rafael", telefone: "5566-5620", data: new Date(), operadora: { nome: "Claro", codigo: "23", categoria: "Celular", cor: "red", preco: 1 } }
      ];

      $scope.operadoras = [
        {nome: "Oi", codigo: "14", categoria: "Celular", cor: "yellow", preco: 1},
        {nome: "Vivo", codigo: "15", categoria: "Celular", cor: "purple", preco: 2},
        {nome: "Tim", codigo: "41", categoria: "Celular", cor: "blue", preco: 3},
        {nome: "Claro", codigo: "23", categoria: "Celular", cor: "red", preco: 1},
        {nome: "GVT", codigo: "25", categoria: "Fixo", cor: "orange", preco: 1},
        {nome: "Embratel", codigo: "21", categoria: "Fixo", cor: "black", preco: 3},
        {nome: "NET", codigo: "12", categoria: "Fixo", cor: "green", preco: 2}
      ];

      $scope.adicionarContato = function(contato){
        $scope.contato.data = new Date();
        $scope.contatos.push(angular.copy(contato));
        delete $scope.contato;
        $scope.contatoForm.$setPristine();
      };

      $scope.apagarContatos = function(contatos){
        $scope.contatos = contatos.filter(function(contato){
          if(!contato.selecionado) return contato;
        });
      };

      $scope.isContatoSelecionado = function(contatos){
        return contatos.some(function(contato){
          return contato.selecionado;
        });
      };

      $scope.ordenarPor = function(campo){
        $scope.criterioDeOrdenacao = campo;
        $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
      };
    });
  </script>
</head>

<body ng-controller="listaTelefonicaCtrl" class="container">
  <div class="jumbotron">
    <h4>{{app}}</h4>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que voce esta buscando?">
    <table class="table" ng-show="contatos.length > 0">
      <tr>
        <th></th>
        <th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
        <th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
        <th><a href="#" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
        <th><a href="#" ng-click="ordenarPor('operadora.codigo')">Código</a></th>
        <th><a href="#" ng-click="ordenarPor('operadora.categoria')">Categoria</a></th>
        <th><a href="#" ng-click="ordenarPor('operadora.preco')">Valor/Minuto</a></th>
        <th><a href="#" ng-click="ordenarPor('data')">Data</a></th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
        <td><input type="checkbox" ng-model="contato.selecionado"></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td><div class="operadora" ng-style="{'background-color': contato.operadora.cor}">{{contato.operadora.nome | uppercase}}</div></td>
        <td>{{contato.operadora.codigo}}</td>
        <td>{{contato.operadora.categoria}}</td>
        <td>{{contato.operadora.preco | currency}}</td>
        <td>{{contato.data | date:'EEEE dd/MM/yyyy HH:mm'}}</td>
      </tr>
    </table>
    <hr>
    <form name="contatoForm">
      <input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10" ng-maxlength="20">
      <input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
        <option value="">Selecione a operadora</option>
      </select>
    </form>

    <div ng-messages="contatoForm.nome.$error">
      <div class="alert alert-danger" ng-message="required" ng-show="contatoForm.nome.$dirty">
        Preencha o campo nome!
      </div>
      <div class="alert alert-danger" ng-message="minlength">
        O campo nome deve ter no mínimo 10 caracteres!
      </div>
      <div class="alert alert-danger" ng-message="maxlength">
        O campo nome deve ter no maximo 20 caracteres!
      </div>
    </div>

    <div ng-messages="contatoForm.telefone.$error">
      <div class="alert alert-danger" ng-message="required" ng-show="contatoForm.telefone.$dirty">
        Preencha o campo telefone!
      </div>
      <div class="alert alert-danger" ng-message="pattern">
        O campo telefone deve ter o formato XXXXX-XXXX!
      </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
  </div>

  <div ng-include="'footer.html'"></div>
</body>

</html>
